
body {
    padding: 0;
    margin: 0;
    background: #ff5733; /* Change the background color for the signin page */
}

.navbar {
    background: #444444; /* Change the background color of the navbar for the signin page */
}

/* Customize styles for the signin page as needed */
