body {
    padding: 0;
    margin: 0;
    background: #edeef5;
}
.navbar {
    background:#0076f1;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.input-group {
    position: relative;
    top: 30px;
}

.header {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.btn {
    position: relative;
    right: 10px;
}

#mainContainer {
    padding-top: 60px;
    position: relative;
}


}